In [ ]:
num=int(input("enter your age :"))

In [3]:
print(num)

20

In [4]:
print(type(num))

<class 'int'>

In [5]:
num=10

In [6]:
n=1+2+3+\
  4+5+6+\
  7+8

In [7]:
print(n)

36

In [8]:
n2=(1+2+3+
  4+5+6+
  7+8)

In [9]:

print(n2)

36

# Output formatting

In [20]:
a=10
b=20
print("The value of a is {} and b is {}".format(a,b)) #deafult

The value of a is 10 and b is 20

In [21]:
a=10
b=20
print("The value of a is {1} and b is {0}".format(a,b)) #specified the position

The value of a is 20 and b is 10

# Membership operator
  # -in

In [1]:
my_str ="yash varshney"

In [2]:
"yash" in my_str

True

In [3]:
"akshat" in my_str

False

# if else

In [4]:
age=14
if(age>=18):
    print("eligible to vote...")
else:
    print("not eligible to vote....")

not eligible to vote....

### elif
    - else if

In [6]:
num=-10
if(num>0):
    print("positive number")
elif(num==0):
    print("number is zero")
else:
    print("number is negative")

number is negative

# Largest number among three numbers

In [7]:
num1=int(input("Enter the number 1 : "))
num2=int(input("Enter the number 2 : "))
num3=int(input("Enter the number 3 : "))
if((num1>num2) and (num1>num3)):
    print("{} is largest number ".format(num1))
elif((num2>num1) and (num2>num3)):
    print("{} is largest number ".format(num2))
else:
    print("{} is largest number ".format(num3))

Enter the number 1 : 23
Enter the number 2 : 45
Enter the number 3 : 67
67 is largest number

# while loop

In [11]:
i=1
while(i<=20):
    if(i%2==0):
        print(i,end=" ")
    i+=1

2 4 6 8 10 12 14 16 18 20

# for loop

In [10]:
for ele in range(3,13):
    print(ele , end=" ")

3 4 5 6 7 8 9 10 11 12

In [9]:
for ele in range(3,13,2):
    print(ele , end=" ")

3 5 7 9 11

### Pattern
   # *
   # * *
   # * * *

In [19]:
for i in range(1,4):
    for j in range(1,i+1):
        print("* ",end="")
    print(end="\n")

*
* *
* * *

In [23]:
for i in range(1,4):
    print("* "*i)

*
* *
* * *

In [38]:
row=4
for i in range(row,1,-1):
    for j in range(1,i):
         print("*",end=" ")
    print("")

* * *
* *
*

# sum of n number

In [43]:
sum=0
n=int(input("enter the value of n : "))
for i in range(1,n+1):
    sum+=i
print("Sum of first {} number is : {} ".format(n,sum))

enter the value of n : 10
Sum of first 10 number is : 55

# prime number

In [44]:
n=int(input("Enter the value of n : "))
isPrime=True
for i in range(2,n):
    if(n%i==0):
        isPrime=False
if(isPrime):
    print("Number is Prime ")
else:
    print("Number is not Prime ")

Enter the value of n : 13
Number is Prime