In [ ]:
num=int(input("enter your age :"))

In [3]:
print(num)

20

In [4]:
print(type(num))

<class 'int'>

In [5]:
num=10

In [6]:
n=1+2+3+\
  4+5+6+\
  7+8

In [7]:
print(n)

36

In [8]:
n2=(1+2+3+
  4+5+6+
  7+8)

In [9]:

print(n2)

36

# Output formatting

In [20]:
a=10
b=20
print("The value of a is {} and b is {}".format(a,b)) #deafult

The value of a is 10 and b is 20

In [21]:
a=10
b=20
print("The value of a is {1} and b is {0}".format(a,b)) #specified the position

The value of a is 20 and b is 10

# Membership operator
  # -in

In [1]:
my_str ="yash varshney"

In [2]:
"yash" in my_str

True

In [3]:
"akshat" in my_str

False

# if else

In [4]:
age=14
if(age>=18):
    print("eligible to vote...")
else:
    print("not eligible to vote....")

not eligible to vote....

### elif
    - else if

In [6]:
num=-10
if(num>0):
    print("positive number")
elif(num==0):
    print("number is zero")
else:
    print("number is negative")

number is negative

# Largest number among three numbers

In [7]:
num1=int(input("Enter the number 1 : "))
num2=int(input("Enter the number 2 : "))
num3=int(input("Enter the number 3 : "))
if((num1>num2) and (num1>num3)):
    print("{} is largest number ".format(num1))
elif((num2>num1) and (num2>num3)):
    print("{} is largest number ".format(num2))
else:
    print("{} is largest number ".format(num3))

Enter the number 1 : 23
Enter the number 2 : 45
Enter the number 3 : 67
67 is largest number

# while loop

In [3]:
i=1
while(i<=20):
    if(i%2==0):
        print(i)
    i+=1

2
4
6
8
10
12
14
16
18
20