# tuples
- similar to list
- immutable
- indexable

In [1]:
t=()
t=tuple()

In [3]:
print(type(t))

<class 'tuple'>

In [4]:
t=("yash",5,8)
print(t)

('yash', 5, 8)

# concatinating tuples

In [5]:
t=(1,2,3)+(4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [6]:
(0,)*10

(0, 0, 0, 0, 0, 0, 0, 0, 0, 0)

# delection

In [7]:
del t

# tuple unpacking

In [8]:
t=(4,2,1)
a=t[0]
b=t[1]
c=t[2]
print(a,b,c)

4 2 1

In [9]:
r,m,n=t
print(r,m,n)

4 2 1

In [10]:
print(*t)

4 2 1